<html>
<form name="add" action="/users/add/" method="POST">
Username: <input type="text" name="user">
Username: <input type="text" name="password">
<input type="submit" value="Submit">
</form>
</html>