<html>
<form name="login" action="/users/login/" method="POST">
Username: <input type="text" name="user">
Username: <input type="text" name="password">
<input type="submit" value="Submit">
</form>
</html>