<div class="control-group">
  <label for="name" class="control-label">name</label>
  <div class="controls">
    <%- contentTag('input', user.name, {type:'text', class:'span6', name:'name'}) %>
  </div>
</div>
<div class="control-group">
  <label for="password" class="control-label">password</label>
  <div class="controls">
    <%- contentTag('input', '', {type:'password', class:'span6', name:'password'}) %>
  </div>
</div>
<div class="control-group">
  <label for="logins" class="control-label">logins</label>
  <div class="controls">
    <%- contentTag('input', user.logins, {type:'number', class:'span2', name:'logins'}) %>
  </div>
</div>
