<div class="control-group">
  <label for="user" class="control-label">Uernname</label>
  <div class="controls">
    <%- contentTag('input', usersModel.user, {type:'text', class:'span6', name:'user', id:'userInput'}) %>
  </div>
</div>
<div class="control-group">
  <label for="password" class="control-label">Password</label>
  <div class="controls">
    <%- contentTag('input', '', {type:'password', class:'span6', name:'password', id:'passwordInput'}) %>
  </div>
</div>